<section class="my-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 my-5 text-center">
        <h3 class="text-danger font-bold">Digimon List</h3>
      </div>
      <div class="col-12 col-md-3 mb-3 mr-3" *ngFor='let digimon of digimones'>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ digimon.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ digimon.name}}</h5>
            <p class="card-text">{{ digimon.level}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>